* {
    box-sizing: border-box;
    margin:0;
    padding:0;
  } 

.navbar-brand
{
    font-size: 25px !important;
    text-align: center;
    width: 100%;
}
.mainStats{
  list-style: none;
  padding: 0 !important;
}